.Secondary {
    & input{

        &:placeholder-shown ~ label {
            transition: all .3s;
            transform: translateY(100%);
            opacity: 0;
        }
    }
}

.AuthCodeInput {
    & input {
        direction: ltr;
    }
}